<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EnlightenHome</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.enlightenhome.admin.controller.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.enlightenhome.user.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/registerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.enlightenhome.user.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.enlightenhome.user.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberIdCheckSerlet</display-name>
    <servlet-name>MemberIdCheckSerlet</servlet-name>
    <servlet-class>com.enlightenhome.user.controller.MemberIdCheckSerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberIdCheckSerlet</servlet-name>
    <url-pattern>/checkMemberId</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemeberEmailServlet</display-name>
    <servlet-name>MemeberEmailServlet</servlet-name>
    <servlet-class>com.enlightenhome.user.controller.MemeberEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemeberEmailServlet</servlet-name>
    <url-pattern>/checkEmailAvail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegisterServlet</display-name>
    <servlet-name>AdminRegisterServlet</servlet-name>
    <servlet-class>com.enlightenhome.admin.controller.AdminRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegisterServlet</servlet-name>
    <url-pattern>/adminRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminUserIdCheckServlet</display-name>
    <servlet-name>AdminUserIdCheckServlet</servlet-name>
    <servlet-class>com.enlightenhome.admin.controller.AdminUserIdCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserIdCheckServlet</servlet-name>
    <url-pattern>/checkAdminAvail</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AdminSessionFilterCheck</display-name>
    <filter-name>AdminSessionFilterCheck</filter-name>
    <filter-class>com.enlightenhome.admin.controller.AdminSessionFilterCheck</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminSessionFilterCheck</filter-name>
    <url-pattern>/AdminSessionFilterCheck</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutController</display-name>
    <servlet-name>AdminLogoutController</servlet-name>
    <servlet-class>com.enlightenhome.admin.controller.AdminLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutController</servlet-name>
    <url-pattern>/adminLogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet_Seller</display-name>
    <servlet-name>UploadServlet_Seller</servlet-name>
    <servlet-class>com.enlightenhome.image.seller.UploadServlet_Seller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet_Seller</servlet-name>
    <url-pattern>/uploadServlet_Seller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageServlet</display-name>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>com.enlightenhome.imagecontroller.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/ImageServlet</url-pattern>
  </servlet-mapping>
</web-app>