@CHARSET "ISO-8859-1";

#header_top{
    width: 100%;
    background-image: ;
    background-repeat: ;
    height: 2px;
 }

#header_top ul{
	float: left;
	list-style: none;
	width: 100%;
	background: #222222;
}

#header_top ul li{
	float: left;
	list-style: none;
	margin-right: 80px;	
}

#header_top ul li a{
	text-decoration: none;
	color: white;
}

#header{
	width: 100%;
	background-color: white;
	height: 60px;
	margin: 0 0 0 0;
}

.logo img{
	float: left;
	margin-bottom: 10px;
	margin-left: 160px;
}

#secondary-nav li a{
	float: right;
	margin-right: 40px;
}
