#templatemo_content_wrapper {
	width: 920px;
	margin: 0 auto;
	padding: 30px 40px;
	background: url(images/templatemo_content.jpg) repeat-y;
}

#templatemo_content_wrapper_bottom {
	width: 1000px;
	height: 15px;
	margin: 0 auto;
	background: url(images/templatemo_content_bottom.jpg) no-repeat;
}

#templatemo_content {
	float: left;
	width: 600px;
}

#templatemo_content p {
	text-align: justify;
	margin-bottom: 10px;
}

.content_section {
	//clear: both;
	width: 100%;
}

#templatemo_content h2 {
	color: black;
	font-size: 24px;
	padding: 0 0 60px 20px;
	background: url(images/templatemo_header_bg.png) no-repeat bottom left;
	text-shadow:3px 3px 5px #777;
}

.product_box {
	float: left;
	width: 190px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #666;
	margin-bottom: 20px;
}

.fl_image {
	float: left;
	margin: 3px 15px 5px 0;
}

#templatemo_content .product_box p {
	padding: 0;
	margin: 0 0 5px 0;
}

#templatemo_content .product_box a {
	color: #000000;
	font-weight: bold;
}

#templatemo_content .em_text {
	color: #7EC3EA;
}

.price {
	color: #C30;
	font-size: 14px;
	font-weight: bold;
}

.product_box h3 {
	background: #7EC3EA;
	padding: 3px 10px;
	margin: 0 0 10px 0;
	color: #ffffff;
	font-size: 12px;
}

.product_box img {
	width: 180px;
	height: 100px;
	border: 5px solid #e6e0ce;
	 margin-bottom: 10px;
}

#templatmeo_sidebar {
	float: right;
	width: 240px;
	padding: 0;
	background: url(images/templatemo_sidebar.jpg) repeat-y; 
}

#templatmeo_sidebar .sidebar_section {
	margin-bottom: 30px;
}

#templatmeo_sidebar .sidebar_section_content {
	margin:0 0 0 35px;
}

#templatmeo_sidebar h2 {
	color: #7EC3EA;
	font-size: 24px;
	padding: 0 0 60px 20px;
	background: url(images/templatemo_header_bg.png) no-repeat bottom left;
}

#templatmeo_sidebar .categories_list {
	margin: 0;
	padding: 0;
	list-style: none;
}

#templatmeo_sidebar .categories_list li {
	padding: 0;
	margin: 0;
}

.categories_list li a {
	display: block;
	color: #201f1c;
	padding: 5px 0 5px 20px;
	background: url(images/templatemo_list.png) center left no-repeat;
}
.categories_list li a:hover {
	color: #7EC3EA;
	text-decoration: none;
}

.sidebar_section label {
	display: block;
	margin-bottom: 10px;
}

.sidebar_section #input_field {
	height: 20px;
	width: 233px;
	padding: 0 5px;
	margin-bottom: 10px;
	color: #000000;
	font-size: 12px;
	font-variant: normal;
	line-height: normal;
}

.sidebar_section #submit_btn{
	float: right;
 	height: 30px;
	width: 80px;
	margin: 0px;
	padding: 3px 0 15px 0;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
	white-space: pre;
	outline: none;
}